/* App.css */

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: Arial, sans-serif;
  text-align: center;
  overflow-x: hidden;
}

  .navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: black;
  color: black;
  /* padding: 1rem; */
  display: flex;
  justify-content: center;
  gap: 2rem; 
  z-index: 1000;
} 

.navbar a {
  color: grey;
  text-decoration: none;
  cursor: pointer;
}

.navbar.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  /* ... any other styles you want for the sticky navbar */
}

.section {
  min-height: 100vh;
  /* padding: 6rem 2rem; */
  scroll-snap-align: start;
}
.project-image {
  width: 100%;
  height: auto;
  max-width: 400px; /* Set a max-width if you want to limit the image size */
  object-fit: cover; /* Ensures images cover their container proportionally */
}

#home, #about, #projects, #contact {
  background-color: black;
}

