/* App.css */

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: Arial, sans-serif;
  text-align: center;
  overflow-x: hidden;
}

  .navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: black;
  color: black;
  /* padding: 1rem; */
  display: flex;
  justify-content: center;
  gap: 2rem; 
  z-index: 1000;
} 

.navbar a {
  color: grey;
  text-decoration: none;
  cursor: pointer;
}

.navbar.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  /* ... any other styles you want for the sticky navbar */
}

/* Home.css */

#home {
  background-color: #f8f9fa; /* Light Bootstrap background color */
}

#home img {
  object-fit: cover;
  width: 250px;
  height: 300px;
}

#home h1 {
  font-size: 2rem;
  font-weight: bold;
}

#home p {
  font-size: 1rem;
  color: #555;
  max-width: 600px;
}


.section {
  min-height: 100vh;
  /* padding: 6rem 2rem; */
  scroll-snap-align: start;
}

/* AboutMe */

section#about {
  background-color: #f8f9fa; /* Light Bootstrap color */
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}

p {
  font-size: 1rem;
  line-height: 1.6;
  color: #333; /* Dark text color for readability */
}

/* project.css */

.project-image {
  object-fit: cover;
  height: 200px;
}

.card {
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.card-text {
  font-size: 0.9rem;
  color: #555;
}

/* Adjust spacing for mobile screens */
.card-footer {
  padding: 10px;
}

.btn {
  margin-bottom: 15px; /* Additional margin for mobile spacing */
}

@media (max-width: 576px) {
  .card {
    margin-bottom: 20px; /* Extra space between cards */
  }
  .btn {
    margin-bottom: 20px; /* Ensure more spacing on small screens */
  }
}


.contact {
  background-color: black;
}

.contact .icon {
  width: 64px;
  height: 64px;
  transition: transform 0.3s ease, filter 0.3s ease;
  /* margin: 0 12px; */
}

.contact .icon:hover {
  transform: scale(1.1);
  filter: brightness(1.2);
}

/* .contact .icon1 {
  width: 95px;
  height: 95px;
  margin-right: 100px;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.contact .icon1:hover {
  transform: scale(1.1);
  filter: brightness(1.2);
} */



#home, #about, #projects, #contact {
  background-color: black;
}

